.comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.comment-container .comment-wrapper .comment-wrapper {
    margin-left: 4em;
    margin-bottom: 0;
}